.brand-text {
    color: #11D0DF;
}
.btn-brand {
    background-image: linear-gradient(75deg,#53e7f1,#11D0DF );
    background-color: ;
    color: #fff;
}
.btn-brand:hover {
    background-color: #11D0DF;
    color: #fff;
}